.container {
  display: flex;
  padding: 40px;
  flex-direction: column;
  align-items: center;

  .heading {
    margin-bottom: 20px;
    color: #fff;
  }

  .videoContainer {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;
    padding: 0;

    .vid {
      width: 100%;
      min-width: 100%;
      min-height: 100%;
    }

    .playImg {
      position: absolute;
      max-width: 40px;
    }

    .overlay {
      position: absolute;
      min-width: 100%;
      min-height: 100%;
      padding: 0;
      background-color: rgba(0, 0, 0, 0.2);
    }

    .hide {
      display: none;
    }
  }

  .player {
    display: flex;
    max-width: 250px;
    margin: 5px 40px;

    &__button {
      margin-right: 10px;
      background-color: Transparent;
      border: 0;
    }
  }

  .back {
    margin: 40px;

    &__button {
      color: #fff;
      text-decoration: none;
    }
  }
}
