@import "../scss/elements.scss";

.container {
  display: flex;
  flex-direction: column;
  align-items: center;

  .heading {
    margin: 0.5 * $gutter 0;
    color: #fff;
  }

  .videoContainer {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    max-width: 1000px;
    padding: 0;

    .vid {
      width: 100%;
      min-width: 100%;
      height: 100%;
      min-height: 100%;
    }

    .playImg {
      position: absolute;
      max-width: 2 * $gutter;
    }

    .overlay {
      position: absolute;
      min-width: 100%;
      min-height: 100%;
      padding: 0;
      background-color: rgba(0, 0, 0, 0.2);
    }

    .overlay:hover {
      cursor: pointer;
    }

    .hide {
      display: none;
    }
  }

  .player {
    display: flex;
    max-width: 250px;
    margin: 0.75 * $gutter;

    &__button {
      margin-right: 10px;
      background-color: Transparent;
      border: 0;
      outline-color: #707070;
    }

    &__button:hover {
      cursor: pointer;
    }
  }

  .backBut {
    margin: 0.75 * $gutter;

    &__button {
      color: #fff;
      text-decoration: none;
    }
  }
}
