.video {
  display: flex;
  color: #eee;

  &__poster {
    position: relative;
    color: inherit;
    text-decoration: none;
  }

  &__length {
    position: absolute;
    right: 4px;
    bottom: 14px;
    padding: 1px 4px;
    font-size: 0.8em;
    background-color: rgba(0, 0, 0, 0.5);
  }

  &__title {
    max-width: 85%;
    max-height: 1.5em;
    overflow: hidden;
    font-size: 1.2em;
  }

  &__date {
    font-size: inherit;
  }

<<<<<<< HEAD
  &__movie {
    margin-bottom: $gutter;
=======
  @media (max-width: 500px) {
    &__movie {
      margin-bottom: $gutter;
    }
>>>>>>> 8fceed71b8ad19dae3330d0a981f556cac580ece
  }
}

.video::after {
  width: 75%;
  height: 1px;
  margin: $gutter auto;
  content: "";
  background: #eee;
}
