@charset "UTF-8";
.container {
  display: flex;
  padding: 40px;
  flex-direction: column;
  align-items: center; }
  .container .heading {
    margin-bottom: 20px;
    color: #fff; }
  .container .player {
    display: flex;
    max-width: 250px;
    margin: 5px 40px; }
    .container .player__button {
      margin-right: 10px;
      background-color: Transparent;
      border: 0; }
  .container .back {
    margin: 40px; }
    .container .back__button {
      color: #fff;
      text-decoration: none; }

.header {
  font-size: 1.5rem;
  color: #fff; }
  .header--heading1 {
    margin: 10px 0; }

.video {
  display: flex;
  color: #eee; }

.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -10px;
  margin-bottom: 20px;
  margin-left: -10px; }

.col {
  padding-right: 10px;
  padding-left: 10px; }
  .col-4 {
    width: 33.33333%; }
  @media (max-width: 1000px) {
    .col-sm-6 {
      width: 50%; } }
  @media (max-width: 500px) {
    .col-mm-12 {
      width: 100%; } }

/* setjum box-sizing: border-box; á allt */
html {
  /* stylelint-disable-line */
  box-sizing: border-box;
  background-color: #404040; }

*, *:before, *:after {
  /* stylelint-disable-line */
  box-sizing: inherit;
  /* fjarlægjum margin og padding */
  padding: 0;
  margin: 0; }

html {
  /* stylelint-disable-line */
  font-family: "Open Sans", helvetica, arial, sans-serif;
  font-size: 16px;
  line-height: 1.5; }

img {
  /* stylelint-disable-line */
  max-width: 100%; }

main {
  /* stylelint-disable-line */
  max-width: 1200px;
  margin: 0 20px;
  overflow-x: hidden; }
  @media (min-width: 1200px) {
    main {

      margin: 0 auto; } }

