@charset "UTF-8";
.container {
  display: flex;
  padding: 40px;
  padding-top: 10px;
  flex-direction: column;
  align-items: center; }
  .container .heading {
    margin-bottom: 20px;
    color: #fff; }
  .container .videoContainer {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80vw;
    max-width: 800px;
    padding: 0; }
    .container .videoContainer .vid {
      width: 100%;
      min-width: 100%;
      height: 100%;
      min-height: 100%; }
    .container .videoContainer .playImg {
      position: absolute;
      max-width: 40px; }
    .container .videoContainer .overlay {
      position: absolute;
      min-width: 100%;
      min-height: 100%;
      padding: 0;
      background-color: rgba(0, 0, 0, 0.2); }
    .container .videoContainer .hide {
      display: none; }
  .container .player {
    display: flex;
    max-width: 250px;
    margin: 10px; }
    .container .player__button {
      margin-right: 10px;
      background-color: Transparent;
      border: 0; }
  .container .back {
    margin: 20px; }
    .container .back__button {
      color: #fff;
      text-decoration: none; }

.header {
  font-size: 1.5rem;
  color: #fff; }
  .header--heading1 {
    margin: 10px 0; }
  .header--heading2 {
    margin: 10px 0; }

.video {
  display: flex;
  color: #eee; }
  .video__poster {
    position: relative;
    color: inherit;
    text-decoration: none; }
  .video__length {
    position: absolute;
    right: 4px;
    bottom: 14px;
    padding: 1px 4px;
    font-size: 0.8em;
    background-color: rgba(0, 0, 0, 0.5); }
  .video__title {
    max-width: 85%;
    max-height: 1.5em;
    overflow: hidden;
    font-size: 1.2em; }
  .video__date {
    font-size: inherit; }
  @media (max-width: 500px) {
    .video__movie {
      margin-bottom: 20px; } }

.video::after {
  width: 75%;
  height: 1px;
  margin: 20px auto;
  content: "";
  background: #eee; }

.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -10px;
  margin-bottom: 20px;
  margin-left: -10px; }

.col {
  padding-right: 10px;
  padding-left: 10px; }
  .col-4 {
    width: 33.33333%; }
  .col-12 {
    width: 100%; }
  @media (max-width: 1000px) {
    .col-sm-6 {
      width: 50%; } }
  @media (max-width: 500px) {
    .col-mm-12 {
      width: 100%; } }

.error {
  display: flex;
  margin: 50vh;
  color: #fff;
  justify-content: center; }

/* setjum box-sizing: border-box; á allt */
html {
  /* stylelint-disable-line */
  box-sizing: border-box;
  background-color: #404040; }

*, *:before, *:after {
  /* stylelint-disable-line */
  box-sizing: inherit;
  /* fjarlægjum margin og padding */
  padding: 0;
  margin: 0; }

html {
  /* stylelint-disable-line */
  font-family: "Open Sans", helvetica, arial, sans-serif;
  font-size: 16px;
  line-height: 1.5; }

img {
  /* stylelint-disable-line */
  max-width: 100%; }

main {
  /* stylelint-disable-line */
  max-width: 1200px;
  margin: 0 20px;
  overflow-x: hidden; }
  @media (min-width: 1200px) {
    main {
      margin: 0 auto; } }
